$color-main-primary :#28b485;
$color-primary :#89c28c;
$color-main-secoundry: #7ed56f;
$color-main-tertiary: #28b485;
$color-grey-ligth-1 : #f7f7f7;
$color-grey-dark-3: #41ad50;
$color-primary-light :#4d4e91;
$color-primary-dark :#375b8a;
$color-background :#69434c28;
$color-primary-light-nav :#27ad32;
$color-primary-dark-nav :#34b828;

$color-white : #777;
$color-yellow : #fff;
$color-black :#000;

//FONT
$default-font-size :1.0rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;