.story {
    //width: 83%;
    height: 15%;
    margin: 0 auto;
    box-shadow: 0 4rem 7rem #0000001a;
    background-color: rgba(255, 255, 255,  .6);
    border-radius: .6rem;
    padding: 2.2rem;
    font-size: 1.6rem;
    transform: skewX(-8deg) translateX(3rem);
    


    & > * {
        transform: skewX(8deg);
    }

    &:hover {
        transform: skewX(-8deg) scale(1.1);
    }
}

// .odd_row { 
//     transform: translateX(-2rem);
// }

// .even_row {
//     transform: translateX(2rem);
// }